<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoiChatt</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon2.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css" >
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <link rel="stylesheet" href="/static/chat.css">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row mainrow">
            
           
            
            <div class="col-sm-4 colum sidebar" id="sidebar" >
                <nav>
                    <div class="row headerrow">
                        <div class="col-sm-9"><h4>SoiChat</h4></div>
                        <div class="col-sm-3"><a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="fa fa-home logoutButton" aria-hidden="true">Logout</i></a><a href="#" onclick="closesidebar()" data-bs-toggle="collapse" data-bs-target="#collapseFriends"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        </div>
                </nav>
                <div class="row filterrow"  >
                    <div class="col-sm-2"><button class="btn btn-success filterButtons">All</button></div>
                    <div class="col-sm-2"><button class="btn btn-success filterButtons">Unread</button></div>
                    <div class="col-sm-2"><button class="btn btn-success filterButtons">Favorites</button></div>
                    <div class="col-sm-2"><button class="btn btn-success filterButtons">Groups</button></div>
                    <div class="col-sm-2"><button class="btn btn-success filterButtons" data-bs-toggle="modal" data-bs-target="#newChatModal">New Chat</button></div>
                </div>
                
                    <div class="row chatButtons">
                        <ul>
                            {%for row in friends%}
                            <li><form action="{{url_for('chatss')}}" method="post">
                                <input type="text" name="friend" value="{{row[1]}}" hidden>
                                <button type="submit" class="loginbutton">
                                    <div class="row loginbox">
                                        <div class="col-sm-4">
                                            <img src="/static/profilephoto2.jpeg" alt="profile"> 
                                        </div>
                                        <div class="col-sm-8">
                                            <h6 class="username">{{row[1]}}</h6>
                                        </div>
                                    </div>
                                </button>
                            </form>
                            </li>
                            {%endfor%}
                            
                            
                            
                            
                        </ul>
                    </div>
                    
               

            </div>
            
            <div class="main colum " id="main" style="  background-color: rgb(41, 43, 46); ">
               
                <div class="row">
                    <div class="row headrow">
                        <a href="" onclick="opensidebar()" data-bs-toggle="collapse" data-bs-target="#collapseFriends"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        <h6 class="chatname">{{session['friendName']}}</h6>
                    </div>
                        
                    
                    <div class=" col-sm-8 main colum chat-container" >
                        
                           
                            {%for row in messages%}
                            {%if row[2] is not none%}
                            <div class="chat-bubble sender">
                            
                                <p >{{row[2]}}</p>
                                
                            </div>
                            {%endif%}
                            {%if row[1] is not none%}
                            <div class="chat-bubble receiver">
                                
                                <p >{{row[1]}}</p>
                               
                            </div>
                        
                            {%endif%}
                            {%endfor%}
                            
                           
                    </div>       
                        
                        <form action="{{url_for('message')}}" method="post">
                         <div class="row  messagerow">
                               
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-6">
                                        
                                        <input type="text" name="message" placeholder="message" class="form-control">
                                    
                                    </div>
                                    <div class="col-sm-4">
                                        

                                        <button class="btn btn-success" type="submit"><i class="fa fa-paper-plane"  aria-hidden="true" ></i>Send</button>
                                    </div>
                                
                                
                            </div>
                        </form>
                    
                </div>
                
                
                
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>



    <!--Logout modal-->
    <div class="modal fade" id="logoutModal">
        <div class="modal-dialog">
            <div class="modal-content modal1">
                <form action="{{url_for('logout')}}" method="post">
                    <div class="modal-body">
                        <h6>Are you sure you want to logout?</h6>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-danger" type="submit" >Logout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end of logout modal-->
    <!--Newchat modal-->
    <div class="modal fade" id="newChatModal">
        <div class="modal-dialog">
            <div class="modal-content modal1">
                <form action="{{url_for('newfriend')}}" method="post">
                    <div class="modal-body">
                        <label for="chat">Select</label>
                        <select name="friendName" id="chat" class="form-control">
                            {%for row in users%}
                            <option value="{{row[2]}}">{{row[2]}}</option>
                            {%endfor%}
                            
                        </select>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Chat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function opensidebar(){
            document.getElementById('sidebar').style.width = '35%';
            document.getElementById('sidebar').style.visibility = 'visible';
            document.getElementById('main').style.marginLeft = '35%';
            document.getElementById('main').style.width = '65%'
        }

        function closesidebar(){
            document.getElementById('sidebar').style.width = '0px';
            document.getElementById('sidebar').style.visibility = 'hidden';
            document.getElementById('main').style.marginLeft = '0px';
            document.getElementById('main').style.width = '100%'

        }
    </script>
</body>
</html>







<!--TOO GOOD TO BE THROWN
<li>
                            <button data-bs-toggle="modal" data-bs-target="#updateClassModal" class="loginbutton">
                                <div class="row loginbox"">
                                    <div class="col-sm-4">
                                        <img src="/static/profilephoto3.jpeg" alt="profile"> 
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="username">Tiffany</h6>
                                    </div>
                                </div>
                            </button>
                            
                        </li>
                        <li>
                            <button data-bs-toggle="modal" data-bs-target="#updateClassModal" class="loginbutton">
                                <div class="row loginbox"">
                                    <div class="col-sm-4">
                                        <img src="/static/profilephoto4.jpeg" alt="profile"> 
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="username">Lynn</h6>
                                    </div>
                                </div>
                            </button>
                            
                        </li>
                        <li>
                            <button data-bs-toggle="modal" data-bs-target="#updateClassModal" class="loginbutton">
                                <div class="row loginbox"">
                                    <div class="col-sm-4">
                                        <img src="/static/profilephoto5.jpeg" alt="profile"> 
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="username">ibmumHade</h6>
                                    </div>
                                </div>
                            </button>
                            
                        </li>
                        <li>
                            <button data-bs-toggle="modal" data-bs-target="#updateClassModal" class="loginbutton">
                                <div class="row loginbox"">
                                    <div class="col-sm-4">
                                        <img src="/static/profilephoto6.jpeg" alt="profile"> 
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="username">Blackrock</h6>
                                    </div>
                                </div>
                            </button>
                            
                        </li>
                        <li>
                            <button data-bs-toggle="modal" data-bs-target="#updateClassModal" class="loginbutton">
                                <div class="row loginbox"">
                                    <div class="col-sm-4">
                                        <img src="/static/profilephoto7.jpeg" alt="profile"> 
                                    </div>
                                    <div class="col-sm-8">
                                        <h6 class="username">yourMajesty</h6>
                                    </div>
                                </div>
                            </button>
                            
                        </li>
                        
-->